<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http//github.com/vnyffeler">Vicky Nyffeler.</a>
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>  

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-xs-offset-1">
    <h2 class="text-center">Vicky Nyffeler</h2>
    <br />
    <p>
      Vicky Nyffeler is an aspiring web developer. She began the Firehose Project in November 2016 and this is her first app. 
    </p>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />
